.ProductCard {
  width: 25vw;
  height: 35vw;
  min-width: 150px;
  min-height: 200px;
  display: inline-block;
  margin: 5vw 2vw;
  text-align: left;
  text-transform: capitalize;
}
.ProductCard-pic {
  width: 100%;
  height: 25vw;
  min-height: 150px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductCard img {
  max-width: 95%;
  max-height: 90%;
  width: auto;
  height: auto;
  margin: 4% auto;
}

.ProductCard h4 {
  margin: .2rem;
  font-size: 1.2rem;
}

.ProductCard-price {
  padding-bottom: 5px;
  border-bottom: 2px solid lightgray;
}

@media screen and (min-device-width: 1200px) {
  .ProductCard {
    width: 18vw;
    height: 25vw;
    margin: 1vw;
  }
  .ProductCard-pic {
    height: 18vw;
  }
}
